.table4js-form {
    padding: 10px;
    min-width: 320px;
    border: 1px solid #263769;
    border-radius: 20px;
    height: min-content;
}

.table4js-form__footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 16px;
}